@import '../../../../global.scss';

.list-wrapper {
    list-style-type: none;
    margin-bottom: 8px;
    a {
        color: $fonts-primary-200;
        text-decoration: none; 
        font-size: 16px;
        line-height: 24px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        background: transparent;
        padding: 12px;
        border-radius: 8px;
        --svgDefaultColor: $fonts-primary-200;
        svg {
            min-width: 24px;
            height: 24px;
            path {
                stroke: $fonts-primary-200;
            }
        }
        &:hover,
        &.active {
            color: $white;
            background: $primary-600;
            svg {
                path {
                    stroke: $white;
                }
            }
        }
        span {
            margin-left: 14px;
            opacity: 0;
            transition: display 0s, opacity 0.5s linear;
        }
    }
}