@import "../../../global.scss";

.card-wrapper {
  .card-top {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 24px;
    .avatar {
      width: 32px;
      height: 32px;
      object-fit: contain;
      margin-right: 10px;
    }
  }

  .date-wrapper {
    display: flex;
    margin-bottom: 25px;

    .active {
      margin: 0;
      background: $bg-light-green;
      border-radius: 16px;
      color: $fonts-green;
      font-size: 12px;
      line-height: 18px;
      padding: 2px 8px;
    }
  }

  .card-colum-wrapper {
    display: flex;

    .card-colum {
      width: calc(50% - 10px);
      margin-right: 10px;

      &:nth-child(2n) {
        margin-right: 0;
      }
    }
  }

  .card-inner {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
  }
  .green-status {
    color: $fonts-green;
    margin-bottom: 0;
    svg {
      margin-right: 4px;
    }
  }
}
