@import "../../../global.scss";

.card-wrapper {
  .card-top {
    display: flex;
    align-items: center;
    width: 100%;
    .avatar {
      width: 32px;
      height: 32px;
      object-fit: contain;
      margin-right: 10px;
    }
  }

  .title {
    font-size: 14px;
    line-height: 20px;
    color: $fonts-grey-700;
    margin: 0;
  }

  .product-name {
    font-size: 20px;
    line-height: 30px;
    color: $fonts-grey-900;
    margin: 8px 0;
  }

  .date-wrapper {
    display: flex;
    margin-bottom: 25px;

    .sub-title {
      font-size: 14px;
      line-height: 20px;
      color: $fonts-primary-500;
      margin: 0;
      margin-right: 8px;
    }

    .active {
      margin: 0;
      background: $bg-light-green;
      border-radius: 16px;
      color: $fonts-green;
      font-size: 12px;
      line-height: 18px;
      padding: 2px 8px;
    }
  }

  .card-colum-wrapper {
    display: flex;

    .card-colum {
      width: calc(50% - 10px);
      margin-right: 10px;

      &:nth-child(2n) {
        margin-right: 0;
      }
    }
  }
  .colum-title {
    margin: 0;
    font-size: 14px;
    line-height: 20px;
    color: $primary-600;
  }

  .colum-amount {
    margin: 4px 0;
    font-size: 18px;
    line-height: 28px;
    color: $fonts-grey-900;
  }

  .card-inner {
    display: flex;
    align-items: flex-end;
    .card-description {
      h3 {
        font-weight: 600;
        font-size: 30px;
        line-height: 38px;
        color: $fonts-grey-900;
        margin-bottom: 16px;
      }
      p {
        font-size: 14px;
        line-height: 20px;
        color: $fonts-light;
        margin-bottom: 0;
      }
    }
  }

  .green-status {
    font-size: 14px;
    line-height: 20px;
    color: $fonts-green;
    margin-bottom: 0;
    svg {
      margin-right: 4px;
    }
  }
}
