@import "../../../global.scss";

.nav {
    .nav-link {
      border: none;
      color: $fonts-light;
      border: none;
      background-color: transparent;
      &.active,
      &:hover,
      &:focus {
        color: $primary;
        border: none;
      }
    }
  &-tabs {
    margin: 25px 0 48px 0;
    .nav-link {
      &.active,
      &:hover,
      &:focus {
        color: $primary;
        border: none;
        background: transparent;
        border-bottom: 2px solid $primary;
        padding-bottom: 17px;
      }
    }
  }
  &-button {
    button {
      padding: 8px 12px;
    }
    .nav-item {
      margin-right: 5px;
      margin-bottom: 12px;;
    }
    .nav-link {
      &.active,
      &:hover,
      &:focus {
        border: none;
        background: $primary-100;
        border-radius: 6px;
      }
    }
  }
}

.tab-card {
  .tab-content {
    padding: 24px;
    background: $primary-25;
    border: 1px solid $fonts-primary-200;
    border-radius: 12px;
  }
}
