@import "../../../global.scss";

.nav-tabs {
    margin: 25px 0 48px 0;
  .nav-link {
    font-size: 14px;
    line-height: 20px;
    color: $fonts-light;
    border: none;
    &.active,
    &:hover,
    &:focus {
      color: $primary;
      border: none;
      background: transparent;
      border-bottom: 2px solid $primary;
      padding-bottom: 17px;
    }
  }
  // .tab-content > .active {
  //   font-size: 20px;
  //   line-height: 30px;
  //   color: $fonts-grey-900;
  // }
}
