@import '../../../../global.scss';

.app-sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 998;
    height: 100vh;
    height: calc(var(--vh, 1vh)*100);
    background-color: $primary;
    width: 240px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    .logo-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 32px 16px 24px;
        padding: 14px 10px;
    }
}