@import '../../../global.scss';
h1 {
    font-size: 30px;
    line-height: 38px;
    color: $fonts-black;
}
h2 {
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    color: $fonts-grey-900;
}
h3 {
    font-size: 20px;
    line-height: 30px;
    color: $fonts-grey-900;
}
h4 {
    font-size: 14px;
    line-height: 20px;
    color: $fonts-grey-900;
}

h5 {
    font-size: 16px;
    line-height: 24px;
    color: $fonts-grey-900;
    font-weight: 500;
}

h5.light-title {
    color: $fonts-light;
}

