@import '../../../global.scss';

.light-title {
    font-size: 16px;
    line-height: 24px;
    color: $fonts-light;
    margin-bottom: 0;
}
.header-title {
    font-size: 24px;
    line-height: 32px;
    color: $fonts-grey-900;
}
.title-20 {
    font-size: 20px;
    line-height: 30px;
    color: $fonts-grey-900;
}