@import '../../../global.scss';

.wrapper {
    position: relative;
    top: 0;
    height: 100%;
    overflow: hidden;
    min-height: calc(100vh - 3.98rem);
    background-color: $grey-50;

    .main-container {
        position: relative;
        transition: all .3s ease;
        min-height: 100vh;
        margin-left: 80px;
        padding: 24px 48px 0;
        transition: all 0.5s ease 0s;
    }

    .app-sidebar:hover+.main-container {
        margin-left: 240px;
    }
}
