@import '../../../global.scss';

.badge {
    padding: 2px 8px;
    &.bg-success {
        background: $bg-light-green !important;
        color: $fonts-green;
    }
    &.bg-secondary {
        background: $bg-grey-100 !important;
        color: $fonts-grey-700;
    }
}