@import '../../../global.scss';

.switch {
    display: flex;
    align-items: center;
    width: 80px;
    height: 20px;
    justify-content: flex-end;
    label {
        margin: 0 0 0 10px !important;
        height: 15px;
    }
    .form-check-input {
        box-shadow: none;
        outline: none; 
        font-size: 18px;
        &:checked {
            background-color: $success-500;
            border-color: $success-500;
        }
        &:focus:not(:checked) {
            border-color: $grey-300;
            background-image: url('data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%27-4 -4 8 8%27%3e%3ccircle r=%273%27 fill=%27rgba%280, 0, 0, 0.25%29%27/%3e%3c/svg%3e');
        }

    }
}