@import "../../../global.scss";

.modal-dialog {
    max-width: 400px;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.modal-header {
    padding: 24px 24px 0 24px;
    border: 0;
}
.modal-body {
    padding: 20px 24px 0 24px
}
.modal-footer {
    padding: 0 24px 24px;
    border: 0;
    margin-top: 16px;
    button {
        flex: 2;
    }
}