@import "../../../global.scss";


.pages-links {
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    background: transparent;
    border: none;
    padding: 10px;
    color: $fonts-light;
    &.active {
        color: $primary-600;
        background: $bg-light;
        border-radius: 8px;
    }
}