@import "../../../global.scss";

.table-wrapper {
  width: 100%;
  overflow-x: auto;
  position: relative;
  overflow-y: auto;
  height: calc(100vh - 350px);
  
  .infinite-scroll-component {
    overflow: initial !important;
  }

  table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    background-color: $white;
    box-shadow: 0 -1px 2px rgb(16 24 40 / 10%), 0 -1px 2px rgb(16 24 40 / 6%) ;
    border-radius: 8px 80px 0px 0px; 
    border-collapse: collapse; 

    thead {
      tr {
        border-radius: 0;

        th {
          padding: 13px 16px;
          background-color: $grey-50;
          color: $fonts-light;
          font-size: 12px;
          line-height: 18px;
          text-align: left;
          white-space: nowrap;

          position: sticky;
          top: 0;
          box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
          z-index: 1;

          &:first-child {
            padding-left: 24px;
          }

          span {
            margin-left: 10px;
          }
        }
      }
    }

    tbody {
      tr {
        cursor: pointer;

        &:nth-child(even) {
          background-color: $grey-50;
        }

        &:first-child {
          border-radius: 8px 8px 0 0;

          td {
            &:first-child {
              border-radius: 8px 0 0 0;
            }

            &:last-child {
              border-radius: 0 8px 0 0;
            }
          }
        }

        &:last-child {
          border-radius: 0 0 0px 0px;

          td {
            &:first-child {
              border-radius: 0 0 0 0px;
            }

            &:last-child {
              border-radius: 0 0 0px 0;
            }
          }
        }

        td {
          cursor: pointer;
          padding: 16px;
          color: $fonts-light;
          font-size: 14px;
          line-height: 20px;
          vertical-align: middle;
          font-weight: 400;

          &:first-child {
            padding-left: 24px;
          }

          .table-modal {
            width: 80px;
            height: 70px;
            display: none;
          }

          .open {
            width: 80px;
            height: 70px;
            display: block;
          }
        }
      }
    }
  }
}