@import "../../../../global.scss";

  .view-more-btn .btn-primary {
    color: transparent;
    background-color: transparent;
    border-color: transparent;
    box-shadow: none;
    padding: 0;
}   
  
  .view-more-btn .btn:active:focus {
    box-shadow: none;
  }
  
  .view-more-btn span {
    color: #222;
    margin-left: 5px;
  }
  
  .view-more-btn a {
    text-decoration: none;
  }