// Font family 'heebo 
@import url('https://fonts.googleapis.com/css2?family=Heebo&display=swap');

// color variables
$primary: #404968;
$primary-600: #4A5578;
$white: #ffffff;
$bg-light: #F9F9FB;

// fonts color
$fonts-black: #111322;
$fonts-light: #667085;
$fonts-primary-600: #DCDFEA;