@import '../../../global.scss';
.card-bottom-none {
    box-shadow: 0 -1px 2px rgb(16 24 40 / 10%), 0 -1px 2px rgb(16 24 40 / 6%) !important;
    border-radius: 8px 8px 0px 0px !important;

.card-body {
    padding: 0;
    .table-header {
        padding: 25px 24px 0 25px;
        margin-bottom: 12px;
    }
    .card-title{
        display: flex;
        align-items: center;
        margin-bottom: 37px;
    }
}
}

.search-filter-sort{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    .input-container {
        min-width: 29%;
        width: auto;
    }
}