@import '../../../global.scss';
.card-body {
    padding: 0;
    .table-header {
        padding: 25px 24px 0 25px;
    }
    .card-title{
        display: flex;
        align-items: center;
        margin-bottom: 37px;
    }
}

.search-filter-sort{
    display: flex;
    align-items: center;
}