@import '../../../global.scss';
.card-body {
    padding: 0;
    .table-header {
        padding: 25px 24px 0 25px;
        margin-bottom: 12px;
    }
    .card-title{
        display: flex;
        align-items: center;
        margin-bottom: 37px;
    }
}

.search-filter-sort{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    .input-container {
        min-width: 25%;
        width: auto;
    }
}