.sidebar-member-details{
    width: 400px;
    height: 100vh;
    background: #FFFFFF;
    transition: all 0.5s ease 0s;

    padding: 20px;
    .sidebar-header{
        display: flex;
        justify-content: space-between;
        align-items: center;

        .siderbar-header-title{
            display: flex;
            justify-content: space-between;
            flex-direction: column;
        }

        .close-sidebar{
            cursor: pointer;
        }
    }
}